
.background-clip {
  text-align: center;

  background: linear-gradient(-90deg, #23D5AB, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 200% auto;
	font-size: 4vh;
	text-transform: uppercase;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;

  margin: -20px 0 10px 0;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
